{% macro item(taxon, isChild) %}
    {% import _self as macros %}

    {% if taxon.children|length > 0 %}
        <li class="nav-item dropdown" {{ sylius_test_html_attribute('menu-item') }}>
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                {{ taxon.name }}
            </a>
            <ul class="dropdown-menu">
                {% for child_taxon in taxon.children %}
                    {{ macros.item(child_taxon, true) }}
                {% endfor %}
            </ul>
        </li>
    {% else %}
        <li>
            <a href="{{ path('sylius_shop_product_index', {'slug': taxon.slug, '_locale': taxon.translation.locale}) }}"
                class="nav-link {% if not isChild -%}nav-item{% endif %}" {{ sylius_test_html_attribute('menu-item') }}>{{ taxon.name }}</a>
        </li>
    {% endif %}
{% endmacro %}

{% import _self as macros %}

{% if taxons|length > 0 %}
    <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse justify-content-center" id="mainNavbar">
            <div class="navbar-nav py-1" {{ sylius_test_html_attribute('menu') }}>
                {% for taxon in taxons %}
                    {{ macros.item(taxon) }}
                {% endfor %}
            </div>
        </div>
    </nav>
{% endif %}
