{% extends '@SyliusShop/layout.html.twig' %}

{% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}

{% block content %}
    <div>
        <div>
            {% set lastPayment = order.payments.last() %}

            {{ headers.default('sylius.ui.thank_you'|trans, '', 'sylius.ui.placed_an_order'|trans) }}

            {{ sonata_block_render_event('sylius.shop.order.thank_you.after_message', {'order': order}) }}

            {% if lastPayment != false %}
                {%  if lastPayment.method.instructions is not null %}
                    <div>
                        {{ lastPayment.method.instructions }}
                    </div>
                {% endif %}
                <a href="{{ path('sylius_shop_order_show', {'tokenValue': order.tokenValue}) }}" class="btn btn-primary">{{ 'sylius.ui.view_your_order_or_change_payment_method'|trans }}</a>
            {% endif %}

            {% if order.customer.user is null %}
                <a href="{{ path('sylius_shop_register_after_checkout', {'tokenValue': order.tokenValue}) }}" class="btn btn-primary">
                    {{ 'sylius.ui.create_an_account'|trans }}
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
