<div class="container my-4">
    <div class="row align-items-center">
        <div class="col">
            <a href="{{ path('sylius_shop_homepage') }}"><img class="logo" src="{{ asset('bootstrap-theme/images/sylius-logo.png', 'bootstrapTheme') }}" /></a>
        </div>
        <div class="col-auto">
            {% if order.customer.id|default(null) is not null %}
                <div id="purchaser-email" {{ sylius_test_html_attribute('purchaser-name-or-email') }}>{{ 'sylius.ui.checking_out_as'|trans }} {{ order.customer.fullName|default(order.customer.email) }}.</div>
            {% else %}
                <a href="{{ path('sylius_shop_login') }}">{{ 'sylius.ui.sign_in'|trans }}</a>
            {% endif %}
        </div>
    </div>
</div>
