{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<div class="card">
    <table class="table">
        <thead class="card-header">
            <tr>
                <th class="border-0">{{ 'sylius.ui.item'|trans }}</th>
                <th class="border-0 text-right">{{ 'sylius.ui.quantity'|trans }}</th>
                <th class="border-0 text-right">{{ 'sylius.ui.subtotal'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for item in order.items %}
            <tr>
                <td class="text-dark">{{ item.getVariant.product.name }}</td>
                <td class="text-right">
                    {{ item.quantity }}
                </td>
                <td class="text-right">{{ money.convertAndFormat(item.subtotal) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
