<div class="border-bottom pb-3 mb-3" {{ sylius_test_html_attribute('comment', review.comment) }}>
    <div class="text-dark"><strong>{{ review.title }}</strong></div>
    <div>{{ review.comment }}</div>
    <div class="d-flex align-items-center mt-2">
        <span class="mr-3">{% include '@SyliusShop/Common/_rating.html.twig' with {'average': review.rating, 'viewonly': 'true'} %}</span>
        <small class="text-muted">{{ review.author.firstName }} / {{ review.createdAt|format_date }}</small>
    </div>
</div>
