{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

<div class="card border border-light">
    <div class="card-header">
        <b>{{ 'sylius.ui.payment'|trans }}</b>
    </div>
    <div class="card-body">
        {% for payment in order.payments %}
            {% set state = payment.state %}

            <div class="list-group list-group-flush flex-wrap align-items-center flex-row gap-2 gap-lg-3">
                {{ icons.creditCard('fs-2 text-gray-500') }}
                <div>
                    <div id="sylius-payment-method" {{ sylius_test_html_attribute('payment-method') }}>
                        <strong>{{ payment.method }}</strong>
                    </div>

                    <div {{ sylius_test_html_attribute('payment-price') }}>{{ money.format(payment.amount, payment.currencyCode) }}</div>

                    {% if state != 'cart' %}
                        <p id="payment-status" {{ sylius_test_html_attribute('payment-state') }}>
                            {% include "@SyliusShop/Common/Order/Label/PaymentState/singlePaymentState.html.twig" with {state} %}
                        </p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
