<div class="g-col-12 g-col-md-6 g-col-lg-3">
    <h3 class="fs-4 mb-3">{{ 'sylius.ui.customer_care'|trans }}</h3>
    <div class="d-flex flex-column gap-2 opacity-75">
        <a class="link-light link-opacity-75-hover" href="{{ path('sylius_shop_contact_request') }}">{{ 'sylius.ui.contact_us'|trans }}</a>
        <a class="link-light link-opacity-75-hover" href="#">{{ 'sylius.ui.faqs'|trans }}</a>
        <a class="link-light link-opacity-75-hover" href="#">{{ 'sylius.ui.delivery_and_shipping'|trans }}</a>
        <a class="link-light link-opacity-75-hover" href="#">{{ 'sylius.ui.returns_policy'|trans }}</a>
    </div>
</div>
