<div class="pre-footer container mb-5">
    <div class="rounded-3 bg-primary p-3 p-md-5 grid ">
        <div class="pre-footer-col g-col-12 g-col-md-4">
            <i class="fa-solid fa-truck-fast fa-2xl"></i>
            <div>
                <strong>{{ 'sylius.footer.banner.free_shipping_title'|trans }}</strong><br/>
                <span>{{ 'sylius.footer.banner.free_shipping_content'|trans }}</span>
            </div>
        </div>
        <div class="pre-footer-col g-col-12 g-col-md-4">
            <i class="fa-solid fa-dollar-sign fa-2xl"></i>
            <div>
                <strong>{{ 'sylius.footer.banner.multiple_payments_title'|trans }}</strong><br/>
                <span>{{ 'sylius.footer.banner.multiple_payments_content'|trans }}</span>
            </div>
        </div>
        <div class="pre-footer-col g-col-12 g-col-md-4">
            <i class="fa-solid fa-money-bill-transfer fa-2xl"></i>
            <div>
                <strong>{{ 'sylius.footer.banner.guarantee_title'|trans }}</strong><br/>
                <span>{{ 'sylius.footer.banner.guarantee_content'|trans }}</span>
            </div>
        </div>
    </div>
</div>
