<div class="col mb-3">
    <h4>{{ 'sylius.ui.your_store'|trans }}</h4>
    <div class="d-flex flex-column">
        <a class="text-muted" href="#">{{ 'sylius.ui.about'|trans }}</a>
        <a class="text-muted" href="#">{{ 'sylius.ui.terms_and_conditions'|trans }}</a>
        <a class="text-muted" href="#">{{ 'sylius.ui.privacy_policy'|trans }}</a>
        <a class="text-muted" href="{{ path('sylius_shop_contact_request') }}">{{ 'sylius.ui.contact_us'|trans }}</a>
    </div>
</div>
