<div class="homepage-banner col-12 mb-3">
    <div class="homepage-banner__image">
        {% if use_webpack %}
            <img class="img-fluid" src="{{ asset('build/shop/images/homepage-banner.jpg', 'shop') }}" alt="{{ 'sylius.homepage.banner_content'|trans }}">
        {% else %}
            <img class="img-fluid" src="{{ asset('assets/shop/img/homepage-banner.jpg') }}" alt="{{ 'sylius.homepage.banner_content'|trans }}">
        {% endif %}
    </div>
    <div class="homepage-banner__content px-4 py-4 bg-light mt-1 text-center px-lg-0 py-lg-0 mt-lg-0 text-lg-start">
        <h1 class="fw-bold">{{ 'sylius.homepage.banner_content'|trans }}</h1>
        <p><a href="#" class="btn btn-primary fw-bold">{{ 'sylius.homepage.banner_button'|trans }}</a></p>
    </div>
</div>
