{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% set order_promotion_adjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::ORDER_PROMOTION_ADJUSTMENT') %}
{% set order_promotions = sylius_aggregate_adjustments(order.getAdjustmentsRecursively(order_promotion_adjustment)) %}

{% if not order_promotions is empty %}
    <td colspan="2" id="promotion-discounts" {{ sylius_test_html_attribute('promotion-discounts') }}>
        {% for label, amount in order_promotions %}
            {{ label }}: {{ money.convertAndFormat(amount) }}
        {% endfor %}
    </td>
{% endif %}
<td id="promotion-total" colspan="{% if not order_promotions is empty %}2{% else %}4{% endif %}" {{ sylius_test_html_attribute('promotion-total') }}>
    {{ 'sylius.ui.promotion_total'|trans }}:
    {{ money.format(order.orderPromotionTotal, order.currencyCode) }}
</td>
