{% extends '@SyliusShop/Account/layout.html.twig' %}

{% block title %}{{ 'sylius.ui.my_account'|trans }} | {{ parent() }}{% endblock %}

{% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}
{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

{% block breadcrumb %}
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('sylius_shop_homepage') }}">{{ 'sylius.ui.home'|trans }}</a></li>
            <li class="breadcrumb-item active">{{ 'sylius.ui.my_account'|trans }}</li>
        </ol>
    </nav>
{% endblock %}

{% block subcontent %}
    {{ headers.default('sylius.ui.my_account'|trans, '', 'sylius.ui.manage_your_personal_information_and_preferences'|trans) }}

    {{ sylius_template_event('sylius.shop.account.dashboard.after_content_header', {'customer': customer}) }}

    <div class="mb-4" {{ sylius_test_html_attribute('customer-information') }}>

        {% if not customer.user.verified %}
            <div class="alert alert-danger d-flex justify-content-between align-items-center">
                <div>{{ 'sylius.ui.not_verified'|trans }}</div>
                <form action="{{ path('sylius_shop_user_request_verification_token') }}" {{ sylius_test_html_attribute('verification-form') }} method="post">
                    <button type="submit" class="btn btn-primary" {{ sylius_test_html_attribute('verification-button') }}>
                        {{ icons.success() }}
                        {{ 'sylius.ui.verify'|trans }}
                    </button>
                </form>
            </div>
        {% endif %}

        <div class="text-dark">{{ customer.fullName }}</div>
        <div>{{ customer.email }}</div>
        {% if customer.user.verified %}
            <div class="text-success text-uppercase" disabled><small>{{ 'sylius.ui.verified'|trans }}</small></div>
        {% endif %}
    </div>

    {{ sylius_template_event('sylius.shop.account.dashboard.after_information', {'customer': customer}) }}

    <div class="d-flex">
        <a href="{{ path('sylius_shop_account_profile_update') }}" class="btn btn-primary me-2">{{ 'sylius.ui.edit'|trans }}</a>
        <a href="{{ path('sylius_shop_account_change_password') }}" class="btn btn-primary me-2">{{ 'sylius.ui.change_password'|trans }}</a>
    </div>
{% endblock %}
