{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

{% for payment in order.payments %}
    {% set state = payment.state %}

    <div class="card bg-light">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="pr-3" style="font-size:2rem;">{{ icons.creditCard() }}</div>
                <div>
                    <div id="sylius-payment-method" {{ sylius_test_html_attribute('payment-method') }}>
                        <strong>{{ payment.method }}</strong>
                    </div>

                    <div {{ sylius_test_html_attribute('payment-price') }}>{{ money.format(payment.amount, payment.currencyCode) }}</div>
                    {% if state != 'cart' %}
                        <p id="payment-status" {{ sylius_test_html_attribute('payment-state') }}>
                            {% include "@SyliusShop/Common/Order/Label/PaymentState/singlePaymentState.html.twig" with {'state': state} %}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
