<div class="card">
    <div class="card-body align-items-center">
        <form method="get" action="{{ path('sylius_shop_product_index', {'slug': app.request.attributes.get('slug')}) }}" class="loadable">
            <div class="row">
                <div class="col">
                    {% for filter in products.definition.enabledFilters %}
                        {{ sylius_grid_render_filter(products, filter) }}
                    {% endfor %}
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary" {{ sylius_test_html_attribute('search') }}>{{ 'sylius.ui.search'|trans }}</button>
                    <a href="{{ path('sylius_shop_product_index', {'slug': app.request.attributes.get('slug')}) }}" class="btn btn-link" {{ sylius_test_html_attribute('clear') }}>
                        {{ 'sylius.ui.clear'|trans }}
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
