{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

<div data-js-rating
     data-js-rating-max="5"
     data-js-rating-average="{{ average }}"
     data-js-rating-viewonly="{{ viewonly }}"
    {{ sylius_test_html_attribute('average-rating', average) }}
>

    <div data-js-rating-btn-on><small>{{ icons.star('text-warning') }}</small></div>
    <div data-js-rating-btn-off><small>{{ icons.star('text-muted') }}</small></div>
</div>
