{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% import '@SyliusShop/Common/Macro/messages.html.twig' as messages %}

{% set header = 'sylius.ui.your_shopping_cart' %}

{% block title %}{{ header|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    {% if not cart.empty %}
        {% include '@SyliusShop/Cart/Summary/_header.html.twig' %}

        <div class="row mb-5">
            <div class="col-12 col-lg-8 mb-4">
                {{ sylius_template_event('sylius.shop.cart.items', {'cart': cart, 'form': form}) }}
            </div>
            <div class="col-12 col-lg-4">
                {{ sylius_template_event('sylius.shop.cart.summary', {'cart': cart}) }}
            </div>
        </div>

        {{ sylius_template_event('sylius.shop.cart.suggestions', {'cart': cart}) }}
    {% else %}
        {{ messages.info('sylius.ui.your_cart_is_empty') }}
    {% endif %}
{% endblock %}
