<ul class="nav navbar">

{% if locales|length > 1 %}
    <li class="nav-item dropdown" id="sylius-locale-selector" {{ sylius_test_html_attribute('locale-selector') }}>
        <a class="btn btn-dark text-muted nav-link dropdown-toggle sylius-active-locale" type="button" data-toggle="dropdown" {{ sylius_test_html_attribute('active-locale') }}>
            {{ active|sylius_locale_name }}
        </a>
        <div class="dropdown-menu">
            {% for code in locales %}
                {% if code is not same as(active) %}
                    <a class="dropdown-item sylius-available-locale" href="{{ path('sylius_shop_switch_locale', {'code': code}) }}" {{ sylius_test_html_attribute('available-locale') }}>
                        {{ code|sylius_locale_name }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </li>
{% endif %}
</ul>
