{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% set order_shipping_promotion_adjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::ORDER_SHIPPING_PROMOTION_ADJUSTMENT') %}
{% set shipping_adjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::SHIPPING_ADJUSTMENT') %}
{% set order_shipping_promotions = sylius_aggregate_adjustments(order.getAdjustmentsRecursively(order_shipping_promotion_adjustment)) %}

{% if not order_shipping_promotions is empty %}
    <td colspan="4" id="promotion-shipping-discounts" {{ sylius_test_html_attribute('promotion-shipping-discounts') }}>
        <strong>{{ 'sylius.ui.shipping_total'|trans }}:</strong>
        <small><s>{{ money.convertAndFormat(order.getAdjustmentsTotal(shipping_adjustment)) }}</s></small>
        <span>
            <span id="shipping-total" {{ sylius_test_html_attribute('shipping-total') }}>{{ money.convertAndFormat(order.getAdjustmentsTotal(shipping_adjustment) + order.getAdjustmentsTotal(order_shipping_promotion_adjustment)) }}</span>
            <span id="shipping-promotion-details" {{ sylius_test_html_attribute('shipping-promotion-details') }} title="{% for label, amount in order_shipping_promotions %}<div>{{ label }}: {{ money.convertAndFormat(amount) }}</div>{% endfor %}" data-toggle="tooltip" data-placement="top" >
                <i class="fas fa-question-circle"></i>
            </span>
        </span>
    </td>
{% else %}
    <td colspan="4" id="shipping-total">
        <strong>{{ 'sylius.ui.shipping_total'|trans }}:</strong>
        <span {{ sylius_test_html_attribute('shipping-total') }}>{{ money.convertAndFormat(order.shippingTotal) }}</span>
    </td>
{% endif %}
