{% set product = variant.product %}

<div class="media">
    <div class="mr-3">
        {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product, 'filter': 'sylius_shop_product_tiny_thumbnail'} %}
    </div>
    <div class="media-body">
        <h6 class="mt-0 sylius-product-name" {{ sylius_test_html_attribute('product-name', item.productName) }}>
            {{ item.productName }}
        </h6>
        <small class="sylius-product-variant-code" {{ sylius_test_html_attribute('product-variant-code') }}>
            {{ variant.code }}
        </small>

        {% if product.hasOptions() %}
            <div class="sylius-product-options" {{ sylius_test_html_attribute('product-options') }}>
                {% for optionValue in variant.optionValues %}
                    <div data-sylius-option-name="{{ optionValue.name }}" {{ sylius_test_html_attribute('option-name', optionValue.name) }}>
                        <small>{{ optionValue.value }}</small>
                    </div>
                {% endfor %}
            </div>
        {% elseif item.variantName is not null %}
            <div class="sylius-product-variant-name" {{ sylius_test_html_attribute('product-variant-name') }}>
                <small>{{ item.variantName }}</small>
            </div>
        {% endif %}
    </div>
</div>
