{% extends '@SyliusShop/layout.html.twig' %}

{% block title %}{{ product.name }} | {{ parent() }}{% endblock %}

{% block content %}
{% include '@SyliusShop/Product/Show/_breadcrumb.html.twig' %}

<div class="row">
    <div class="col-12 col-md-6 mb-5">
        <div class="pr-3">
            {{ sylius_template_event('sylius.shop.product.show.left_sidebar', _context) }}
        </div>
    </div>
    <div class="col-12 col-md-6 mb-5">
        {{ sylius_template_event('sylius.shop.product.show.right_sidebar', _context) }}
    </div>
</div>

{{ sylius_template_event('sylius.shop.product.show.content', _context) }}

{% endblock %}
