{% macro default(message, icon, type, header) %}
    <div class="alert alert-{{ type|default('') }}" {{ sylius_test_html_attribute('flash-message', type) }}>
        <div class="d-flex align-items-center">
            <span class="pr-3 fa-2x">
                {{ icon }}
            </span>
            <strong>
                {% if type is not empty %}
                    {{ header|default(type)|trans }}&nbsp;
                {% endif %}
            </strong>
            {{ message|trans }}
        </div>
    </div>
{% endmacro %}

{% macro info(message) %}
    {% import _self as messages %}
    {% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

    {{ messages.default(message, icons.info(), 'info', 'sylius.ui.info') }}
{% endmacro %}

{% macro success(message) %}
    {% import _self as messages %}
    {% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

    {{ messages.default(message, icons.success(), 'success', 'sylius.ui.success') }}
{% endmacro %}

{% macro error(message) %}
    {% import _self as messages %}
    {% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

    {{ messages.default(message, icons.danger(), 'danger', 'sylius.ui.error') }}
{% endmacro %}
