{% set ancestors = taxon.ancestors|reverse %}

<nav class="w-100">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('sylius_shop_homepage') }}">{{ 'sylius.ui.home'|trans }}</a></li>

        {% for ancestor in ancestors %}
            <li class="breadcrumb-item"><a href="{{ path('sylius_shop_product_index', {'slug': ancestor.slug, '_locale': ancestor.translation.locale}) }}">{{ ancestor.name }}</a></li>
        {% endfor %}

        <li class="breadcrumb-item active">{{ taxon.name }}</li>
    </ol>
</nav>
