<div class="card">
    <div class="card-body" {{ sylius_test_html_attribute('address', "%s %s"|format(address.firstName, address.lastName)) }}>
        {% include '@SyliusShop/Common/_address.html.twig' with {'address': address} %}
        <div class="d-flex justify-content-between">
            {{ render(path('sylius_shop_account_address_book_set_as_default', {'id': address.id})) }}
            <div class="btn-group">
                <a href="{{ path('sylius_shop_account_address_book_update', {'id': address.id}) }}" class="btn btn-link" {{ sylius_test_html_attribute('edit-button') }}>{{ 'sylius.ui.edit'|trans }}</a>

                <form action="{{ path('sylius_shop_account_address_book_delete', {'id': address.id}) }}" method="post" onsubmit="return confirm('{{ "sylius.ui.are_your_sure_you_want_to_perform_this_action"|trans }}');">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-link text-muted" type="submit">
                        {{ 'sylius.ui.delete'|trans }}
                    </button>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token(address.id) }}" />
                </form>
            </div>
        </div>
    </div>
</div>
