{% extends '@SyliusShop/Account/AddressBook/layout.html.twig' %}

{% import '@SyliusShop/Common/Macro/messages.html.twig' as messages %}
{% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}
{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

{% block title %}{{ 'sylius.ui.address_book'|trans }} | {{ parent() }}{% endblock %}

{% block subcontent %}
    <div class="row">
        <div class="col">
            {{ headers.default('sylius.ui.address_book'|trans, '', 'sylius.ui.manage_your_saved_addresses'|trans) }}

            {{ sylius_template_event('sylius.shop.account.address_book.index.after_content_header', {'addresses': addresses}) }}
        </div>
        <div class="col-auto">
            <a href="{{ path('sylius_shop_account_address_book_create') }}" class="btn btn-primary">
                {{ icons.plus() }}
                {{ 'sylius.ui.add_address'|trans }}
            </a>

            {{ sylius_template_event('sylius.shop.account.address_book.index.after_add_address_button', {'addresses': addresses}) }}
        </div>
    </div>

    {% if addresses|length > 0 %}
        <div class="row" id="sylius-addresses" {{ sylius_test_html_attribute('addresses') }}>
            {% set default_address = (sylius.customer.defaultAddress) %}

            {% if default_address is not null %}
                <div class="col-12 col-lg-6 mb-3">
                    {% include '@SyliusShop/Account/AddressBook/_defaultAddress.html.twig' with {'address': default_address} %}
                </div>
            {% endif %}

            {% for address in addresses if default_address is null or address.id != default_address.id %}
                <div class="col-12 col-lg-6 mb-3" id="sylius-addresses" {{ sylius_test_html_attribute('addresses') }}>
                    {% include '@SyliusShop/Account/AddressBook/_item.html.twig' %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        {{ messages.info('sylius.ui.you_have_no_addresses_defined') }}
    {% endif %}
{% endblock %}
