<ul class="nav navbar ml-auto">
    {% if is_granted('ROLE_USER') %}
        <li class="nav-item btn-dark my-2 my-lg-0">
            <span class="text-muted nav-link" {{ sylius_test_html_attribute('full-name') }}>{{ 'sylius.ui.hello'|trans }} {{ app.user.customer.fullName }}!</span>
        </li>

        <li class="nav-item btn-dark">
            <a class="text-muted nav-link" href="{{ path('sylius_shop_account_dashboard') }}">{{ 'sylius.ui.my_account'|trans }}</a>
        </li>

        <li class="nav-item btn-dark">
            <a class="text-muted nav-link sylius-logout-button" href="{{ path('sylius_shop_logout') }}" {{ sylius_test_html_attribute('logout-button') }}>{{ 'sylius.ui.logout'|trans }}</a>
        </li>
    {% else %}
        <li class="nav-item btn-dark">
            <a class="nav-link text-muted" href="{{ path('sylius_shop_login') }}">{{ 'sylius.ui.login'|trans }}</a>
        </li>

        <li class="nav-item btn-dark">
            <a class="nav-link text-muted" href="{{ path('sylius_shop_register') }}">{{ 'sylius.ui.register'|trans }}</a>
        </li>
    {% endif %}
</ul>

