{% extends 'knp_menu.html.twig' %}

{% block root %}
    <div class="list-group">
        <div class="list-group-item bg-light">{{ item.label|trans }}</div>
        {{ block('list') }}
    </div>
{% endblock %}

{% block list %}
    {% for item in item.children %}
        {{ block('item') }}
    {% endfor %}
{% endblock %}

{% block item %}
    <a class="list-group-item list-group-item-action" href="{{ item.uri }}">
        {{ block('icon') }}
        {{ item.label|trans }}
    </a>
{% endblock %}

{% block icon %}
    {% set icon = item.labelAttribute('icon') %}
    {% if icon %}<i class="{{ icon }}"></i> {% endif %}
{% endblock %}
