{% import '@SyliusShop/Common/Macro/messages.html.twig' as messages %}
{% import '@SyliusShop/Common/Macro/pagination.html.twig' as pagination %}

{{ sonata_block_render_event('sylius.shop.product.index.before_search', {'products': resources.data}) }}

{% include '@SyliusShop/Product/Index/_search.html.twig' %}

{{ sonata_block_render_event('sylius.shop.product.index.after_search', {'products': resources.data}) }}

<div class="d-flex justify-content-end my-3">
    {% include '@SyliusShop/Product/Index/_pagination.html.twig' %}
    {% include '@SyliusShop/Product/Index/_sorting.html.twig' %}
</div>

{{ sonata_block_render_event('sylius.shop.product.index.before_list', {'products': resources.data}) }}

{% if resources.data|length > 0 %}
    <div class="row">
        {% for product in resources.data %}
            <div class="col-6 col-md-6 col-lg-4 mb-3">
                {% include '@SyliusShop/Product/_box.html.twig' %}
            </div>
        {% endfor %}
    </div>

    {{ sonata_block_render_event('sylius.shop.product.index.before_pagination', {'products': resources.data}) }}

    <div class="d-flex justify-content-end mt-3">
        {{ pagination.simple(resources.data) }}
    </div>
{% else %}
    {{ messages.info('sylius.ui.no_results_to_display') }}
{% endif %}
