<!DOCTYPE html>

<html lang="{{ app.request.locale|slice(0, 2) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{{ sylius.channel.name }}{% endblock %}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% block metatags %}
    {% endblock %}

    {% block stylesheets %}
        {{ sylius_template_event('sylius.shop.layout.stylesheets') }}
    {% endblock %}

    {{ sylius_template_event('sylius.shop.layout.head') }}
</head>

<body class="d-flex flex-column min-vh-100">
{{ sylius_template_event('sylius.shop.layout.before_body') }}

{% block top %}
    <nav class="bg-dark navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTop">
            {{ sylius_template_event('sylius.shop.layout.topbar') }}
        </div>
    </nav>
{% endblock %}

{% block header %}
    <div class="mb-2">
        {{ sylius_template_event('sylius.shop.layout.header') }}
    </div>
{% endblock %}

<div class="main-content container">
    {% include '@SyliusShop/_flashes.html.twig' %}

    {{ sylius_template_event('sylius.shop.layout.before_content') }}

    {% block content %}
    {% endblock %}

    {{ sylius_template_event('sylius.shop.layout.after_content') }}
</div>

{% block footer %}
    {% include '@SyliusShop/_footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ sylius_template_event('sylius.shop.layout.javascripts') }}
{% endblock %}

{{ sylius_template_event('sylius.shop.layout.after_body') }}

<div class="loading-overlay" data-js-loading-overlay>
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

</body>
</html>
