{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block title %}{{ 'sylius.ui.customer_login'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    {% include '@SyliusShop/Login/_header.html.twig' %}

    {{ sylius_template_event('sylius.shop.login.after_content_header') }}

    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    {{ sylius_template_event('sylius.shop.login.main_column', _context) }}
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    {{ sylius_template_event('sylius.shop.login.register_column', _context) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
